<div class="header flex">
    <div class="header__left flex">
        <div class="header__item" id="logo">
            <div><img src="assets\images\header\qarmalogo.svg" alt="qarmalogo"></div>
        </div>
        <div class="header__item">
            <div><img src="assets\images\header\dashbordicon.svg" alt="dashbordicon"></div>
            <div>Dashbord</div>
        </div>
        <div class="header__item">
            <div><img src="assets\images\header\projectsicon.svg" alt="projectsicon"></div>
            <div>Projects</div>
        </div>
        <div class="header__item">
            <div><img src="assets\images\header\schedulesicon.svg" alt="schedulesicon"></div>
            <div>Schedule</div>
        </div>
        <div class="header__item">
            <div><img src="assets\images\header\settingsicon.svg" alt="settingsicon"></div>
            <div>Settings</div>
        </div>
        <div class="header__item">
            <div><img src="assets\images\header\knowledgeicon.svg" alt="knowledgeicon"></div>
            <div>Knowledge hub</div>
        </div>
    </div>
    <div class="header__right flex">
        <div class="header__item"><img src="assets\images\header\searchicon.svg" alt="search"></div>
        <div class="header__item"><img src="assets\images\header\notificationicon.svg" alt="notification"></div>
        <div class="header__item"><img src="assets\images\header\profile.svg" alt="profile"></div>
        <div class="header__item"><img src="assets\images\header\threemenuicon.svg" alt="menu bar"></div>
    </div>
</div>